
<!-- Start content -->
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <!---->
    		<div class="card-box d-flex align-items-start flex-column " style="height: 500px; width: 500px;" >
    		  <div style="height: 60%;">
    		    <%= render 'shared/cardlist' %>
    		  </div>
    		  <div class="w-100 d-flex flex-column " style="height: 40%;">
    		    <div class="h-75">
    		      <h4>Game Title</h4>
    		      <p >현재 1005165명이 이 게임에서 팀원을 찾는 중입니다.</p>
    		    </div>
    		    
    		    <div class="d-flex h-25 align-items-end justify-content-end">
    		      
    		      <!--<a href="/" class="popp badge badge-light align-items-center" -->
    		      <!--  data-container="body" data-trigger="hover" data-placement="top" -->
    		      <!--  data-content="당신의 멘토를 찾아드립니다." >-->
    		      <!--  <i class=" mdi mdi-account-convert text-primary"  style="font-size: 20px;"></i>-->
    		      <!--</a>-->
    		      &nbsp&nbsp
    		      <a href="/match" class="popp badge badge-light align-items-center"
    		        data-container="body" data-trigger="hover" data-placement="top" 
    		        data-content="당신의 팀원을 찾아드립니다." >
    		        <i class="ti-game text-primary" style="font-size: 20px;"></i>
    		      </a>
    		      
    		    </div>
    		  </div>
      </div><!-- end col -->
      
    </div>
  </div> <!-- container -->
</div> <!-- content -->


<!-- Javascript contents -->
<% content_for 'javascript_content' do %>
<%= javascript_include_tag params[:controller] %>
<script>
$('.popp').popover();
$('#carouselExampleIndicators').on('slide.bs.carousel', function () {
  console.log("slider!")
})

$(document).on('ready', function() {
    
    Check online status of a player and updates the connection time
    setInterval(function () {
        console.log("Updating player time");
        $.ajax({
            url: "/players/update",
            method: "PATCH",
        });
    // }, 5000);
    
    var pusher = new Pusher('<%= ENV["PUSHER_KEY"]%>', {
        cluster: "<%= ENV["PUSHER_CLUSTER"]%>",
        encrypted: true,
        auth: {
            headers: {
            'X-CSRF-Token': "<%= form_authenticity_token %>"
            }
        }
    });

    var channel = pusher.subscribe('user_<%= current_user.id %>');
        
    channel.bind('match', function(data) {
        console.log(data);
        if (confirm("찾았습니다! 수락하시겠습니까?")) {
            console.log(data.join(''));
            
            var accept_channel = pusher.subscribe('presence-' + data.join(''));
            accept_channel.bind('pusher:member_added', function(member) {
                console.log("Accept count at " + accept_channel.members.count);
            });
            
            setTimeout(function() {
                console.log(accept_channel.members.count);
                if (accept_channel.members.count == data.length) {
                    console.log("ajax to link")
                    $.ajax({
                        url: "/queue/link",
                        method: "POST",
                        data: {
                            team: data,
                        }
                    });
                } else {
                    console.log("Not all accepted")
                }
            }, 12000);
        } else {
            alert("매칭 거절");
            location.reload();
        }
    });
    
    channel.bind('link', function(data) {
        console.log("Now linking");
        location.href = `/chat_rooms/${data["id"]}` 
    })
});

$(document).on('click', '.lol_duo', function() {
    $.ajax({
        url: "/queue/lol_duo",
        method: "POST",
    });
});
$(document).on('click', '.lol_squad', function() {
    $.ajax({
        url: "/queue/lol_squad",
        method: "POST",
    });
});
$(document).on('click', '.pubg_duo', function() {
    $.ajax({
        url: "/queue/pubg_duo",
        method: "POST",
    });
});
$(document).on('click', '.pubg_squad', function() {
    $.ajax({
        url: "/queue/pubg_squad",
        method: "POST",
    });
});
$(document).on('click', '.ow_duo', function() {
    $.ajax({
        url: "/queue/pw_duo",
        method: "POST",
    });
});
$(document).on('click', '.btn-dark', function() {
    setTimeout(function() {
        alert("현재 비슷한 플레이어를 찾을 수 없습니다")
    }, 30000);
});



</script>
<% end %>


