<div class="content">
  <div class="container-fluid">
    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <div class="btn-group pull-right m-t-20">
                <button type="button" class="btn btn-custom dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="false">Settings </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item">Action</a>
                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item">Another action</a>
                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item">Something else</a>
                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item">Separated link</a>
                </div>
            </div>
            <h4 class="page-title">게시판 보드</h4>
        </div>
    </div>
    <!-- end page title end breadcrumb -->


    <div class="row">
        <div class="col-lg-12">
            <div class="card-box">
              <ul class="list-unstyled">
                <% @posts.reverse.each do |post|%>
                  <li>
                    <div class= "d-flex ">
                      <% 
                      img = Nokogiri::HTML(post.content).xpath('//img')
                      if img[0].nil?
                        src = ""
                      else
                        src = img.xpath('//img').first.attr('src')
                      end 
                      %>
                      <div class= "p-0 w-15">
                        <img class="pr-1" src = "<%=src%>"
                         style="height: 60px; width: 90px;">
                      </div>
                      <div class= "flex-grow-1 flex-wrap ">
                        <div class = "p-0 flex-fill " >
                          <h5 class = "m-0"><a class="text-light" href="/boards/<%=@game_name%>/<%= post.id %>"><strong><%= post.title %></strong></a></h5>
                        </div>
                        <div class= "p-0 " >
                          <small ><%= post.category.game_name%></small>
                        </div>
                        <div class= "p-0 " >
                          <small><%= post.created_at %>/<%=post.username %>/<%=post.likes.size%></small>
                        </div>
                      </div>
                    </div>
                    <hr>
                  </li>
                <% end %>
              </ul>
              <a class="text-light" href="/boards/<%=@game_name%>/new"> 글쓰기</a>
            </div> <!-- end card-box -->
        </div>
        <!-- end col -->
    </div>
    <!-- end row -->
  </div> <!-- end container -->
</div>

<% content_for 'javascript_content' do %>
  <%= javascript_include_tag params[:controller] %>
  <script>
    console.log('script');
  </script>
<% end %>