<div class="content">
  <div class="container-fluid">
    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <h4 class="page-title"><%= Category.find_by_game_name(@game_name).game_full_name %> - 게시판</h4>
        </div>
    </div>
    <!-- end page title end breadcrumb -->


    <div class="row">
        <div class="col-lg-12">
            <div class="card-box">
              <ul class="list-unstyled">
                <% @posts.reverse.each do |post|%>
                  <li>
                    <div class= "d-flex ">
                      <% 
                      img = Nokogiri::HTML(post.content).xpath('//img')
                      if img[0].nil?
                        src = "/images/fallback/default_post.png"
                      else
                        src = img.xpath('//img').first.attr('src')
                      end 
                      %>
                      <div class= "p-0 w-15">
                        <img class="pr-1" src = "<%=src%>"
                         style="height: 60px; width: 90px;">
                      </div>
                      <div class= "flex-grow-1 flex-wrap ">
                        <div class = "p-0 flex-fill " >
                          <h5 class = "m-0"><a class="text-light" href="/boards/<%=@game_name%>/<%= post.id %>"><strong><%= post.title %></strong></a></h5>
                        </div>
                        <div class= "p-0 " >
                          <small ><%= post.category.game_full_name%></small>
                        </div>
                        <div class= "p-0 " >
                          <small><%= post.format_time %>/<%=post.username %>/<%=post.likes.size%></small>
                        </div>
                      </div>
                    </div>
                    <hr>
                  </li>
                <% end %>
              </ul>
              <div class="d-flex justify-content-between">
              <div><%= paginate @posts, theme: 'twitter-bootstrap-4'%></div>
              
              <a class="btn btn-primary btn-bordred waves-effect w-md waves-light m-b-5" href="/boards/<%=@game_name%>/new" style="font-size: 20px;"> 글쓰기</a>
              </div>
              
            </div> <!-- end card-box -->
            
            
        </div>
        <!-- end col -->
    </div>
    <!-- end row -->
  </div> <!-- end container -->
</div>

<% content_for 'javascript_content' do %>
  <%= javascript_include_tag params[:controller] %>
  <script>
    console.log('script');
  </script>
<% end %>