<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8">
                <div class="bg-picture card-box">
                    <div class="profile-info-name">
                        <div class="profile-info-detail">
                            <!--제목바-->
                            <div>
                                <!--왼쪽-->
                                <div class="d-flex flex-column">
                                    <div class="d-flex justify-content-between">
                                        <h4 class="m-0 p-0"><%=@post.title%></h4>
                                        <% if current_user.id == @post.user_id %>
                                        <div class="dropdown pull-right">
                                            <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                                                <i class="mdi mdi-dots-vertical"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <!-- item-->
                                                <a href="/boards/<%= @post.id %>/edit" class="dropdown-item">Edit</a>
                                                <!-- item-->
                                                <a href="./<%= @post.id %>" class="dropdown-item" data-method="delete">Delete</a>
                                            </div>
                                        </div>
                                        <% end %>
                                    </div>
                                    
                                    
                                    <div class="d-flex justify-content-between">
                                        <div class="pt-1 comment " style="width: 50%;">
                                            <img src="<%=@user.avatar.thumb%>" alt="" class="m-1 comment-avatar">
                                            <div class="ml-1 ">
                                                <p class="text-muted "><i><%=@post.username%></i></p>
                                            </div>
                                        </div>
                                        <div class= "d-flex align-items-end flex-column" style="width: 50%;">
                                            <small class="pt-2"><%= @post.created_at.strftime("%Y-%m-%d")%></small>
                                            <small class="p-0">
                                                    조회수 <strong><%= @post.view_count%></strong>
                                                    추천수 <strong class="like-count-s"><%= @post.likes.size %></strong>
                                            </small>
                                        </div>
                                        </div>
                                    
                                </div>
                            </div>
                            <hr>
                            
                            <!--내용 영역-->
                            <div class="mb-1">
                                <%= simple_format(@post.content) %>
                            <br><br><br><br><br><br><br><br><br>
                            </div>
                            
                            <!--하위 영역-->
                            <div class="d-flex justify-content-center m-t-20 pr-0 mr-0">
                                <div class="d-flex ">
                                    <% if @user_likes_post.nil? %>
                                        <a href="/likes/<%=@post.id%>" data-remote = "true" class=" mr-2 align-self-center text-primary badge badge-light" style="border-radius: 100%;">
                                            <i class="likebtn fa fa-thumbs-o-up " style="font-size: 22px"></i>
                                        </a>
                                    <% else %>
                                        <a href="/likes/<%=@post.id%>" data-remote = "true" class=" mr-2 align-self-center text-primary badge badge-light" style="border-radius: 100%;"> 
                                            <i class="likebtn mdi mdi-cancel" style="font-size: 22px" ></i>
                                        </a>
                                    <% end %>
                                    <h5 class="like-count align-self-center mr-0"><%= @post.likes.size %></h5>
                                </div>
                            </div>
                        </div>

                        <div class="clearfix"></div>
                    </div>
                </div>
                <!--/ meta -->


                <!--comment create-->
                <%= form_tag "/posts/#{@post.id}/comments", method: :post, class: "card-box"  do %>
                <!--<form action="/posts/<%#=@post.id%>/comments" method="post" class="card-box">-->
                    <span class="input-icon icon-right">
                        <textarea name="content" rows="2" class="form-control" placeholder="Post a new message"></textarea>
                    </span>
                    <div class="p-t-10 pull-right">
                        <button type="submit" class="btn btn-sm btn-primary waves-effect waves-light">Send</button>
                    </div>
                    <br><br>
                <!--</form>-->
                <% end %>
                
                <!--comment list-->
                <div class="card-box">
                    <!--comment01-->
                    <% @post.comments.reverse.each do |comment| %>
                    <div class="comment">
                        <img src="<%= comment.user.avatar.thumb %>" alt="" class="comment-avatar">
                        <div class="comment-body">
                            <div class="comment-text">
                                <div class="comment-header">
                                    <a href="#" title=""><%= comment.user.username %></a><span><%= comment.user.created_at.strftime("%Y-%m-%d %H:%M") %></span>
                                </div>
                                <%= comment.content %>
                            </div>
                            <div class="d-flex justify-content-start">
                                <% if current_user.id == comment.user_id %>
                                
                                    <a href="#editcomment" class="pl-1 text-muted comment-href" data-id="<%= comment.id %>"
                                    data-animation="fadein" data-plugin="custommodal" data-overlayspeed="200" 
                                    data-overlaycolor="#36404a" data-comment="<%= comment.content %>"
                                    style="font-size: 12px">
                                        Edit
                                    </a>
                                    
                                    <a href="/posts/comments/<%=comment.id%>" data-method="delete"
                                    class="text-muted  pl-2" style="font-size: 12px">
                                        Delete
                                    </a>
                                
                                <% end %>
                            </div>
                        </div>
                    </div>
                    <% end %>

                    <div class="m-t-30 text-center">
                        <a href="" class="btn btn-default waves-effect waves-light btn-sm">Load More...</a>
                    </div>
                </div>


            </div>

            <div class="col-sm-4">
                <div class="card-box">


                    <h4 class="header-title m-t-0 m-b-30">베스트 인기 글</h4>

                    <ul class="list-group m-b-0 user-list">
                        <li class="list-group-item">
                            <a href="#" class="user-list-item">
                                <div class="comment">
                                    <img src="https://www.bloter.net/wp-content/uploads/2017/06/%EA%B5%AC%EA%B8%80-765x430.png" alt="" class="comment-avatar">
                                </div>
                                <div class="user-desc">
                                    <span class="name">글 제목은 제한 없이 일단 길게 써본다.</span>
                                    <span class="desc">카테고리</span>
                                </div>
                            </a>
                        </li>

                        <li class="list-group-item">
                            <a href="#" class="user-list-item">
                                <div class="comment">
                                    <img src="http://static.inven.co.kr/column/2014/05/21/news/i1568305431.jpg" alt="" class="comment-avatar">
                                </div>
                                <div class="user-desc">
                                    <span class="name">뿌애애애애애애애애애앵.</span>
                                    <span class="desc">카테고리</span>
                                </div>
                            </a>
                        </li>

                        <li class="list-group-item">
                            <a href="#" class="user-list-item">
                                <div class="comment">
                                    <img src="https://cdn.namuwikiusercontent.com/s/ec96b7afb1f5fa0e3dc6144472683c6b2cfc72c91a5bcdfee98d2ae6e8d6ad189a4ad9f111b3a4e1d117bfa841499c7a661729bd8094ed91a39e27ec044a03c76e1c32eb5ba2e06847b1a652c980c5cd?e=1532360774&k=hZL8f0PM36GyAL_0k3Z-Jw" alt="" class="comment-avatar">
                                </div>
                                <div class="user-desc">
                                    <span class="name">니아ㅓ린야러잳 ㅑ</span>
                                    <span class="desc m-b-0">카테고리</span>
                                </div>
                            </a>
                        </li>

                        <li class="list-group-item">
                            <a href="#" class="user-list-item">
                                <div class="comment">
                                    <img src="<%= asset_path 'users/avatar-6.jpg' %>" alt="" class="comment-avatar">
                                </div>
                                <div class="user-desc">
                                    <span class="name">Michael Zenaty</span>
                                    <span class="desc">Programmer</span>
                                </div>
                            </a>
                        </li>

                        <li class="list-group-item">
                            <a href="#" class="user-list-item">
                                <div class="comment">
                                    <img src="<%= asset_path 'users/avatar-1.jpg' %>" alt="" class="comment-avatar">
                                </div>
                                <div class="user-desc">
                                    <span class="name">Mat Helme</span>
                                    <span class="desc">Manager</span>
                                </div>
                            </a>
                        </li>
                        
                        <li class="list-group-item">
                            <a href="#" class="user-list-item">
                                <div class="comment">
                                    <img src="<%= asset_path 'users/avatar-3.jpg' %>" alt="" class="comment-avatar">
                                </div>
                                <div class="user-desc">
                                    <span class="name">Mat Helme</span>
                                    <span class="desc">Manager</span>
                                </div>
                            </a>
                        </li>
                        
                        <li class="list-group-item">
                            <a href="#" class="user-list-item">
                                <div class="comment">
                                    <img src="<%= asset_path 'users/avatar-1.jpg' %>" alt="" class="comment-avatar">
                                </div>
                                <div class="user-desc">
                                    <span class="name">Mat Helme</span>
                                    <span class="desc">Manager</span>
                                </div>
                            </a>
                        </li>
                        
                        <li class="list-group-item">
                            <a href="#" class="user-list-item">
                                <div class="comment">
                                    <img src="<%= asset_path 'users/avatar-2.jpg' %>" alt="" class="comment-avatar">
                                </div>
                                <div class="user-desc">
                                    <span class="name">Mat Helme</span>
                                    <span class="desc">Manager</span>
                                </div>
                            </a>
                        </li>
                        
                        <li class="list-group-item">
                            <a href="#" class="user-list-item">
                                <div class="comment">
                                    <img src="<%= asset_path 'users/avatar-3.jpg' %>" alt="" class="comment-avatar">
                                </div>
                                <div class="user-desc">
                                    <span class="name">Mat Helme</span>
                                    <span class="desc">Manager</span>
                                </div>
                            </a>
                        </li>
                        
                        
                    </ul>
                </div>
            </div>
        </div>
    </div> <!-- container -->
</div> <!-- content -->
<%= render 'editcomment' %>
                
<% content_for 'javascript_content' do %>
    <%= javascript_include_tag params[:controller] %>
    <script>
        $('.comment-href').on('click', function(){
            console.log(`/posts/${$(this).attr('data-id')}/edit`)
            $('.form-comment')[0].action=`/posts/comments/${$(this).attr('data-id')}`
            $('.comment-form-text')[0].value = $(this).attr('data-comment')
        })
    
    </script>
<% end %>