<!DOCTYPE html>
<html>
  <head>
    

    <title>Gorankr</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="shortcut icon" type="image/x-icon" href="/icon/favicon.png" />
    
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_link_tag    params[:controller], media: 'all' %>
    <script src="https://js.pusher.com/4.1/pusher.min.js"></script>
    <%= javascript_include_tag 'application'%>
  </head>
  

  <body>
    <div id="wrapper">
      <%= render 'shared/topbar' %>
      <%= render 'shared/leftsidemenu' if user_signed_in? %>
      
      <div class="content-page">
        
        <%= yield %>
        <!--<footer class="footer text-right">-->
        <!--    2016 - 2018 © Adminto. Coderthemes.com-->
        <!--</footer>-->
      </div>
      <%= render 'shared/siderightbar' %>
    </div>
    
    <%= yield 'javascript_content' %>
  </body>
  
  
  <footer class="footer text-right">Made with <i class="mdi mdi-heart-pulse"></i> by ApVision</footer>
</html>
